@page "/"
@using System.Text.Json
@inject DockerService _dockerService
@inject FileService _fileService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if (_containers is null || _composePaths is null)
{
	<div class="spinner-grow" role="status">
		<span class="sr-only">Loading...</span>
	</div>
} else
{
	foreach(var container in _containers)
	{
		<div>@JsonSerializer.Serialize(container)</div>
	}

	foreach(var composePath in _composePaths)
	{
		<div>@composePath</div>
	}
}

@code {
	private IList<ContainerListResponse>? _containers;
	private IList<string>? _composePaths;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (!firstRender)
			return;

		_containers = await _dockerService.GetAllContainers();
		_composePaths = _fileService.GetAllComposePaths(FileService.ROOT_DIR, 0);
		StateHasChanged();
	}
}