@page "/notifications"
@inject NotificationService NotificationService

<h1>Notifications</h1>

@if (!NotificationService.AnyInitialized)
{
    <p>No notification endpoints configured.</p>
}
else
{
    <ul>
        @foreach (var url in NotificationService.GetEndpoints())
        {
            <li>@url</li>
        }
    </ul>

    <button class="btn btn-primary" disabled=@_isSending @onclick="SendTest">
        @if (_isSending)
        {
            <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        }
        else
        {
            <span>Send test notifications</span>
        }
    </button>

    @if (_error is not null) {
        <div class="alert alert-danger" role="alert">There was an error when sending one of the notifications: @_error</div>
    }
}

@code {
    private bool _isSending;
    private string? _error;

    private async Task SendTest()
    {
        _isSending = true;
        StateHasChanged();

        try
        {
            await NotificationService.SendNotification("This is a test notification from PatchPanda.");
            _error = null;
        }
        catch (Exception ex)
        {
            _error = ex.Message;
        }

        _isSending = false;
        StateHasChanged();
    }
}
