<div class="top-row navbar navbar-dark ps-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PatchPanda.Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-symbols-outlined nav-icon" aria-hidden="true">home</span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/notifications">
                <span class="material-symbols-outlined nav-icon" aria-hidden="true">notifications</span> Notifications
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/queue">
                <span class="material-symbols-outlined nav-icon" aria-hidden="true">view_list</span> Queue
            </NavLink>
        </div>
    </nav>
</div>

