@inject IJSRuntime _jsRuntime
@implements IAsyncDisposable

<div class="terminal-output" id="terminal-output">
    @foreach (var line in _terminalOutput.ToList())
    {
        <div class="terminal-line">@line</div>
    }
</div>

@code {
    private IJSObjectReference? _jsModule;
    private List<string> _terminalOutput = [];

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        _terminalOutput.Clear();
        _jsModule = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Elements/Terminal.razor.js");
    }

    public async Task NewLine(string line)
    {
        var cleanedLine = line.TrimStart();

        if (cleanedLine.Contains(' '))
        {
            foreach(var printedLine in _terminalOutput.ToList())
            {
                var cleanedPrintedLine = printedLine.TrimStart();

                if(!cleanedLine.Contains(' ') || !cleanedPrintedLine.Contains(' '))
                    continue;

                var cleanedLineSplit = cleanedLine.Split(' ');
                var cleanedPrintedLineSplit = cleanedPrintedLine.Split(' ');

                if (cleanedLineSplit[0].Equals(cleanedPrintedLineSplit[0]) && (!cleanedLine.StartsWith("Container") || (cleanedLineSplit.Length > 1 && cleanedPrintedLineSplit.Length > 1 && cleanedLineSplit[1].Equals(cleanedPrintedLineSplit[1]))))
                {
                    var index = _terminalOutput.IndexOf(printedLine);

                    if(index == -1)
						continue;

                    _terminalOutput[index] = line;

                    await InvokeAsync(StateHasChanged);
                    return;
                }
            }
        }

        _terminalOutput.Add(line);

        await InvokeAsync(async () =>
        {
            StateHasChanged();
            if (_jsModule is not null)
            {
                await _jsModule.InvokeVoidAsync("scrollTerminalToBottom");
            }
        });
    }

    public async ValueTask DisposeAsync()
    {
        if (_jsModule is not null)
        {
            await _jsModule.DisposeAsync();
            _jsModule = null;
        }
    }

}
